<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>SearchPageFilter</filter-name>
        <filter-class>com.mycompany.java.web.demo.filters.SearchPageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ShoppingFilter</filter-name>
        <filter-class>com.mycompany.java.web.demo.filters.ShoppingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckoutFilter</filter-name>
        <filter-class>com.mycompany.java.web.demo.filters.CheckoutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CartFilter</filter-name>
        <filter-class>com.mycompany.java.web.demo.filters.CartFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>com.mycompany.java.web.demo.filters.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SearchPageFilter</filter-name>
        <url-pattern>/searchPage</url-pattern>
        <url-pattern>/searchFullName</url-pattern>
        <url-pattern>/deleteAccount</url-pattern>
        <url-pattern>/updateAccount</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/shopping</url-pattern>
        <url-pattern>/addToCart</url-pattern>
        <url-pattern>/viewCart</url-pattern>
        <url-pattern>/removeItem</url-pattern>
        <url-pattern>/updateQuantity</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckoutFilter</filter-name>
        <url-pattern>/checkout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/cart</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>-->
    <resource-ref>
        <res-ref-name>SE140609DS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
